body {
  display: flex ;
  flex-direction: column ;
  justify-content: space-between ;
  height: 100vh ;
}

.box {
  // border: 1px solid black ;
  margin: 2px ;
  display: flex ;
  flex-direction: column ;
  align-items: center ;
  height: 30% ;
}

h1 {
  font-size: 3rem ;
  font-family: cursive ;
}

.gameState {
  border: 1px solid red ;
  display: flex ;
  justify-content: space-between ;
  height: 60% ;
  width: 80% ;
}

.chalSelector {
  display: flex ;
  flex-wrap: wrap ;
  justify-content: center ;
  align-content: center ;
  // border: 1px solid green ;
  margin: 3px ;
  padding: 1% ;
  height: 100% ;
}

.chalBtn {
  border: 1px solid magenta ;
  // border-radius: 50% ;
  // background: cadetblue ;
  width: 40% ;
  height: 40% ;
  margin: 2% ;
  display: flex ;
  justify-content: center ;
  align-items: center ;
  
  &.disabled {
    pointer-events: none ;
    background: grey ;
  }
  
  .gameLink {
    // height: 100% ;
    top: 50% ;
    font-size: 3em ;
    color: white ;
    &:hover {
      text-decoration: none ;
    }
  }
  
}

.imgBtn {
  max-height: 100% ;
  margin: auto ;
}

footer {
  // border: 1px solid blue ;
  // position: absolute ;
  // bottom: 0px ;
}








// @media(max-width:767px){

// }
@media(min-width:768px){}
@media(min-width:992px){
  .chalSelector {
    // display: flex ;
    flex-wrap: nowrap ;
    align-items: center ;
    // align-content: center ;
    // border: 1px solid green ;
    // margin: 3px ;
    // height: 100% ;
  }
}

@media(min-width:1200px){

}



@import "_game1";
@import 'game2';
@import '_game3';
@import 'game4';
